<div class="card text-center mt-5">
	<div class="card-header">
		<h5 class="card-title">MENU</h5>
		<p class="card-text">Click on the <strong>Add 1</strong> button to add food<br>
			then click on Order Food button on the bottom to finish your order</p>
	</div>
	<div class="card-body">
	  <table class="table table-striped table-hover">
		<thead>
		  <tr>
			<th scope="col">#</th>
			<th scope="col">Name</th>
			<th scope="col">Ingredients</th>
			<th scope="col">Price</th>
			<th scope="col">Add Quantity</th>
		  </tr>
		</thead>
		<tbody>
		  <tr *ngFor="let food of (food$ | async); let i = index">
			<th scope="row">{{food.id}}</th>
			<td>{{food.name}}</td>
			<td>{{food.ingredients}}</td>
			<td>{{food.price}}</td>
			<td><button type="button" class="btn btn-primary" (click)="addOne(food)">Add 1</button><input type="number" class="form-control w-25 float-end" [placeholder]="food.quantity"></td>
		  </tr>
		</tbody>
	  </table>
	</div>
	<div class="card-footer d-flex justify-content-end">
		<ul class="nav nav-pills card-footer-pills">
			<li class="nav-item">
			  <a class="nav-link" (click)="continueOrder()"><button class="btn btn-primary me-md-2" type="button" routerLinkActive="active">Order Food</button></a>
			</li>
		  </ul>
	  </div>
</div>

