<nav class="navbar navbar-expand-lg bg-body-tertiary">
	<div class="container-fluid">
	  <a class="navbar-brand" routerLink="/order-list" routerLinkActive="active"><strong>EAT<span class="text-primary">ME</span></strong></a>
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
		  <a class="nav-link" routerLink="/order-list" routerLinkActive="active">Orders</a>
		  <a class="btn btn-outline-primary" routerLink="/food-order" routerLinkActive="active">Order Food</a>
		</div>
	  </div>
	  <div class="d-flex" style="width: 600px;">
		<form class="d-flex" role="search" style="width: 600px;">
			<input #searchInput class="form-control me-2" type="search" (input)="searchQurey(searchInput.value)" placeholder="Search" aria-label="Search">
		</form>
	  </div>
	</div>
  </nav>